<div id="<%= dom_id order %>">
  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= order.cart_id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= order.merchant_id %>
  </p>

</div>
